@import url("https://fonts.googleapis.com/css?family merienda&display swap");
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient( #191c32, #1f1d36);
}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 350px;
    border: 5px solid #b3b3b3;
    border-radius: 10px;
    transition: .5s ease;
    padding: 40px;
}
.form:hover{
    box-shadow: 3px 3px 50px #63DBFF;
}

h2{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    color: #b3b3b3;
}
label{
    color: #b3b3b3;
}

.input-text{
    position: relative;
    margin: 20px 0;
}
.input-text input{
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    font-weight: 16px;
    border: none;
    outline: none;
    padding-left: 30px;
    border-bottom: 2px solid #b3b3b3;
    transition: .5s ease;
    background: none;
    color: white;
}
.input-text input:focus{
    border-bottom: 5px solid #63DBFF;
    border-radius: 10px;
}
.input-text.success input{
    border-color: #2ecc71;
}

.input-text small{
    color: red;
    position: unset;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.input-text.error small{
    visibility: visible;
}
.btn{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px;
    background: none;
    cursor: pointer;
    transition: .5s ease;
    color: white;
}
.btn:hover{
    background: #63DBFF;
    color: #fff;
}